@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f1f1f1;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Regular", sans-serif;
}

.program-gradient {
  background: linear-gradient(90deg, #ccedff 0%, #c9a9ff 100%);
}

.coaching-gradient {
  /* background: linear-gradient(90deg, #ffcca5 0%, #ffe6d5 100%); */
  background: linear-gradient(90deg, #ffd1d1 0%, #ff9e80 100%);
}

.footer-gradient {
  background: linear-gradient(
    90deg,
    #ff5b79 2.11%,
    #bb5ff0 45.48%,
    #6988f5 94.43%
  );
  rotate: -6deg;
  filter: blur(6.625rem);
}

.glassmorph {
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}
