@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f1f1f1;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", sans-serif;
}

.program-gradient {
  background: linear-gradient(90deg, #f6d8e5 0%, #e4c5f4 100%);
}

.coaching-gradient {
  background: linear-gradient(90deg, #fde5d2 0%, #fad4e4 100%);
}

.footer-gradient {
  background: linear-gradient(
    90deg,
    #ff5b79 2.11%,
    #bb5ff0 45.48%,
    #6988f5 94.43%
  );
  rotate: -6deg;
  filter: blur(6.625rem);
}

/* Glassmorph to change */

.glassmorph {
  background: rgba(0, 0, 0, 0.02);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
}

.footer-glassmorph {
  background: rgba(0, 0, 0, 0.14);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.black-glassmorph {
  background: rgba(0, 0, 0, 0.025);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 10px;
}

.pie-chart-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%; /* Pour faire un cercle parfait */
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.nav-bg {
  background-color: rgba(255, 255, 255, 0.09);
  backdrop-filter: blur(20px);
}

.fixed-bg-purple {
  background: #af4ce0;
  background: radial-gradient(at center, #af4ce0, #9c7ae2);
  background-size: 300% 300%;

  filter: blur(100px);
  opacity: 0.7;
  border: rgba(255, 255, 255, 0.1);
  animation: gradientAnimation 8s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.animate-bg-purple {
  background: #af4ce0;
  background: radial-gradient(at center, #c77dff, #f1f1f1);
  background-size: 300% 300%;

  filter: blur(100px);
  opacity: 0.7;
  border: rgba(255, 255, 255, 0.1);
  animation: gradientAnimation 8s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.laoding {
  transform-style: preserve-3d;
  perspective: 2000px;
}
/* text-[#696868] */
